{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block title %}{% trans "Devices" %}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
{% endblock styles %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>{% trans "Devices" %}</h2>
    </div>
    
    {% if devices %}
        
            <table
                id="table"
                data-toggle="table"
                data-search="true"
                data-sortable="true"
                data-pagination="true"
                data-page-size="50"
                data-page-list="[50, 100, 200]"
                class="table">
                <thead class="table-light">
                    <tr>
                        <th data-field="id" data-sortable="true">{% trans "ID" %}</th>
                        <th data-field="name" data-sortable="true">{% trans "Name" %}</th>
                        <th data-field="model" data-sortable="true">{% trans "Model" %}</th>
                        <th data-field="firmware" data-sortable="true">{% trans "Firmware" %}</th>
                        <th data-field="organisation" data-sortable="true">{% trans "Organisation" %}</th>
                        <th data-field="registered" data-sortable="true">{% trans "Device registered" %}</th>
                        <th data-field="status" data-sortable="true">{% trans "Status update" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in devices %}
                        <tr>
                            <td><a href="{% url 'device-detail' device.pk %}" class="link-primary">{{ device.id }}</a></td>
                            <td>{{ device.device_name|default:_("N/A") }}</td>
                            <td>{{ device.model|default:_("N/A") }}</td>
                            <td>{{ device.firmware|default:_("N/A") }}</td>
                            <td>{{ device.current_organization.name|default:_("N/A") }}</td>
                            <td>{{ device.created_at|date:"Y-m-d H:i" }}</td>
                            <td>
                                {% with latest_status=device.status_list.all|dictsortreversed:"time_received"|first %}
                                    {% if latest_status %}
                                        {{ latest_status.time_received|date:"Y-m-d H:i" }}
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td class="text-end">
                                <a href="{% url 'device-edit' device.pk %}" class="btn btn-secondary btn-sm" title="{% trans 'Edit Device' %}">
                                    <i class="bi bi-pencil-square"></i> <span class="d-none d-sm-inline">{% trans "Edit" %}</span>
                                </a>
                                <a href="{% url 'device-delete' device.pk %}" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i> <span class="d-none d-sm-inline">{% trans "Delete" %}</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        
    {% else %}
        <div class="alert alert-warning" role="alert">
            {% trans "No devices found." %}
        </div>
    {% endif %}
</div>
{% endblock content %}