{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ station.id }}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cal-heatmap@3.6.2/cal-heatmap.css" />

{% endblock styles %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-lg-12">

        <h1>Station Details</h1>
        <ul>
            <li><strong>ID:</strong> {{ station.id }}</li>
            <li><strong>Stadt/Gemeinde: <a href="">Wien</a></strong></li>
            <li><strong>Sensoren:</strong> {% for sensor in station.sensors %} {{ sensor.sensor_model_name }} {% endfor %}</li>
            <li><strong>Letztes Update:</strong> {{ station.time }}</li>
        </ul>

    </div>
    <div class="col-lg-12">


    </div>
</div>    

<!-- Content Block -->

    <div class="row">
      <!-- Linke Spalte: Chart.js Diagramme -->
      <div class="col-lg-6 col-md-12">
        <h3>48 Stunden Übersicht</h3>

        {% if station.data_48h.2|length > 0 %}
        <div class="mb-4">
          <h5>Feinstaub (PM1)</h5>
          <canvas id="chart-pm1" style="height: 100px;"></canvas>
        </div>
        {% endif %}
        
        {% if station.data_48h.3|length > 0 %}
        <div class="mb-4">
          <h5>Feinstaub (PM2.5)</h5>
          <canvas id="chart-pm25" style="height: 100px;"></canvas>
        </div>
        {% endif %}

        {% if station.data_48h.5|length > 0 %}
        <div class="mb-4">
          <h5>Feinstaub (PM10)</h5>
          <canvas id="chart-pm10" style="height: 100px;"></canvas>
        </div>
        {% endif %}
        
        {% if station.data_48h.7|length > 0 %}
        <div class="mb-4">
          <h5>Temperatur (°C)</h5>
          <canvas id="chart-temperature" class="chart-height"></canvas>
        </div>
        {% endif %}
        
        {% if station.data_48h.6|length > 0 %}
        <div class="mb-4">
          <h5>Luftfeuchtigkeit (%)</h5>
          <canvas id="chart-humidity" class="chart-height"></canvas>
        </div>
        {% endif %}

    </div>
        
      <!-- Rechte Spalte: Leaflet-Karte -->
      <div class="col-lg-6 col-md-12 mb-4">
        <h3>Umgebung der Station</h3>
        <div id="map" style="width: 100%; height: 400px;"></div>
        <div class="mt-3">
            <h5>Daten herunterladen</h5>
            <!-- Formular für Monatsmittelwerte -->
            <!-- Formular für benutzerdefinierten Zeitraum -->
            <!--
            <form method="get" action="" class="form-inline mb-2">
                <div class="form-group mr-2">
                    <label for="startDate" class="mr-2">Startdatum:</label>
                    <input type="date" class="form-control" id="startDate" name="start_date" required>
                </div>
                <div class="form-group mr-2">
                    <label for="endDate" class="mr-2">Enddatum:</label>
                    <input type="date" class="form-control" id="endDate" name="end_date" required>
                </div>
                <button type="submit" class="btn btn-primary">Messwerte als CSV herunterladen</button>
            </form>
            -->
            <form method="get" action="" class="form-inline mb-2" id="dateForm">
              <div class="form-group mr-2">
                  <label for="startDate" class="mr-2">Startdatum:</label>
                  <input type="date" class="form-control" id="startDate" name="start_date" required>
              </div>
              <div class="form-group mr-2">
                  <label for="endDate" class="mr-2">Enddatum:</label>
                  <input type="date" class="form-control" id="endDate" name="end_date" required>
              </div>
              <button type="submit" class="btn btn-primary">Messwerte als CSV herunterladen</button>
          </form>
        </div>
      </div>
    </div>
</div>

<!-- Lade die erforderlichen JS-Dateien -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cal-heatmap@3.6.2/cal-heatmap.min.js"></script>

<!-- JavaScript-Code zur Initialisierung der Karte und Diagramme -->
<script>
// Initialisierung der Leaflet-Karte
var map = L.map('map').setView([{{ station.coordinates.1 }}, {{ station.coordinates.0 }}], 13); // Beispielkoordinaten (Wien)
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; OpenStreetMap contributors'
}).addTo(map);

// Marker hinzufügen
L.marker([{{ station.coordinates.1 }}, {{ station.coordinates.0 }}]).addTo(map)
  .bindPopup('Station {{ station.id }}')
  .openPopup();

// Daten für die Diagramme
var labels = [];
for (var i = 48; i > 0; i--) {
  labels.push(i + 'h');
}

var dataPM25 = [];
var dataPM10 = [];
var dataPM1 = [];
var dataTemperature = [];
var dataHumidity = [];

dataPM25 = {{ station.data_48h.3 }};
dataPM10 = {{ station.data_48h.5 }};
dataPM1 = {{ station.data_48h.2 }};
dataTemperature = {{ station.data_48h.7 }};
dataHumidity = {{ station.data_48h.6 }}


  // Gemeinsame Optionen für alle Diagramme
  var commonOptions = {
    responsive: true,
    aspectRatio: 5,
    plugins: {
      legend: {
        display: false // Legende ausblenden
      }
    },
    scales: {
      x: {
        display: true,
        title: {
          display: false,
          text: ''
        },
        grid: {
          display: false
        },
        ticks: {
          maxRotation: 90,
          minRotation: 90,
          autoSkip: true,
          maxTicksLimit: 10
        }
      },
      y: {
        beginAtZero: true,
        title: {
          display: true,
          text: '' // Wird individuell gesetzt
        }
      }
    }
  };

 // Funktion zum Erstellen eines Diagramms
 function createChart(ctx, label, data, yAxisLabel, backgroundColor, borderColor) {
    var options = JSON.parse(JSON.stringify(commonOptions)); // Kopie der gemeinsamen Optionen
    options.scales.y.title.text = yAxisLabel;
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: label,
          data: data,
          backgroundColor: backgroundColor,
          borderColor: borderColor,
          borderWidth: 0,
          barPercentage: 1.0,
          categoryPercentage: 1.0
        }]
      },
      options: options
    });
  }

 // Diagramme erstellen
 createChart(
    document.getElementById('chart-pm25').getContext('2d'),
    'PM2.5 (µg/m³)',
    dataPM25,
    'Konzentration (µg/m³)',
    'rgba(54, 162, 235, 0.5)',
    'rgba(54, 162, 235, 1)'
  );

 createChart(
    document.getElementById('chart-pm10').getContext('2d'),
    'PM10 (µg/m³)',
    dataPM10,
    'Konzentration (µg/m³)',
    'rgba(255, 99, 132, 0.5)',
    'rgba(255, 99, 132, 1)'
  );

  createChart(
    document.getElementById('chart-pm1').getContext('2d'),
    'PM1 (µg/m³)',
    dataPM1,
    'Konzentration (µg/m³)',
    'rgba(75, 192, 192, 0.5)',
    'rgba(75, 192, 192, 1)'
  );

  createChart(
    document.getElementById('chart-temperature').getContext('2d'),
    'Temperatur (°C)',
    dataTemperature,
    'Temperatur (°C)',
    'rgba(255, 159, 64, 0.5)',
    'rgba(255, 159, 64, 1)'
  );

  createChart(
    document.getElementById('chart-humidity').getContext('2d'),
    'Luftfeuchtigkeit (%)',
    dataHumidity,
    'Relative Luftfeuchtigkeit (%)',
    'rgba(153, 102, 255, 0.5)',
    'rgba(153, 102, 255, 1)'
  );
  // messwerte herunterladen
  document.getElementById("dateForm").addEventListener("submit", function(event) {
      // Prevent the form from submitting normally
      event.preventDefault();

      // Extract the station ID from the current URL (e.g., /stations/34106)
      const pathname = window.location.pathname;

      // Get the values from the form fields
      const startDate = document.getElementById("startDate").value;
      const endDate = document.getElementById("endDate").value;

      const stationId = window.location.pathname.split("/").filter(i => i).pop();
      // Build the URL with the query parameters
      const url = `https://staging.api.luftdaten.at/v1/station/historical?station_ids=${stationId}&start=${startDate}&end=${endDate}&precision=month&output_format=csv`;

      // Redirect the browser to the constructed URL
      window.location.href = url;
  });

</script>


{% endblock content %}