{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Stations overview" %}{% endblock title %}

{% block styles %}
<style>
    .station-link {
        display: inline-block;
        background-color: #007bff; /* Blue background */
        color: white; /* White text */
        padding: 4px 12px; /* Reduced padding for a sleeker look */
        border-radius: 3px; /* Slightly smaller border radius */
        text-decoration: none; /* Remove underline */
        font-weight: normal; /* Regular font weight for a more subtle look */
        font-size: 14px; /* Adjust font size for a cleaner appearance */
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    .station-link:hover {
        background-color: #0056b3; /* Darker blue on hover */
        transform: scale(1.03); /* Slight zoom effect */
    }
    .station-link:focus {
        outline: none;
        box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.75); /* Focus ring for accessibility */
    }
    .badge {
        font-size: 14px;
        font-weight: normal;
    }
</style>
{% endblock styles %}

{% block content %}
<h2>{% trans "Stations overview" %}</h2>
<div class="row">
    <!-- Spalte 1: Stationen mit den höchsten Werten -->
    <div class="col-md-6">
        <h3 class="text-center">{% trans "Top 10 with the highest values for PM2.5" %}</h3>
        <ul class="list-group">
            {% for station in top_stations %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/stations/{{ station.0 }}" class="station-link">
                        {{ station.0 }}  <!-- Station name or device -->
                    </a>
                    <span class="badge bg-danger rounded-pill">{{ station.3 }} µg/m³</span> <!-- Value -->
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Spalte 2: Stationen mit den niedrigsten Werten -->
    <div class="col-md-6">
        <h3 class="text-center">{% trans "Top 10 with the lowest values for PM2.5" %}</h3>
        <ul class="list-group">
            {% for station in lowest_stations %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/stations/{{ station.0 }}" class="station-link">
                        {{ station.0 }}  <!-- Station name or device -->
                    </a>
                    <span class="badge bg-success rounded-pill">{{ station.3 }} µg/m³</span> <!-- Value -->
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
