{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ workshop.title }}{% endblock title %}

{% block styles %}
<!-- Leaflet CSS -->
<!--<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">-->
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" crossorigin="">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" crossorigin="">

<!-- Leaflet JS -->
<!--<script src="{% static 'js/leaflet.js' %}" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>-->
<script src="https://cdn.jsdelivr.net/npm/leaflet-rotate-map@0.3.1/leaflet-src.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-rotate-map@0.3.1/leaflet.min.css">
<script src="{% static 'js/TileLayer.Grayscale.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
<!--<script src="{% static 'js/leaflet.markercluster.js' %}"></script>-->

<!-- Plotly JS -->
<script src="{% static 'js/plotly-2.27.0.min.js' %}" charset="utf-8"></script>

<style>
    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .info i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    .legend {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .legend-item {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
    
    .legend-item i {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    .leaflet-center {
        left: 50%;
        transform: translate(-50%, 0%);
    }    
</style>
{% endblock styles %}

{% block map %}
<div class=".container-fluid">
    <div class="position-absolute top-0 end-0 card"
        style="width: 18rem; z-index: 1000; margin-top: 4.5rem; margin-right: 1rem;">
        <div class="card-body">
            <h5 class="card-title">{% trans "Messwerte" %}</h5>
            <select class="form-select" id="select-value" aria-label="Default select example" onchange="updateValues()">
                <option value="pm1">{% trans "PM1.0" %}</option>
                <option value="pm25" selected>{% trans "PM2.5" %}</option>
                <option value="pm10">{% trans "PM10.0" %}</option>
                <option value="temperature">{% trans "Temperatur" %}</option>
                <option value="humidity">{% trans "Luftfeuchtigkeit" %}</option>
            </select>
            <h5 class="card-title" style="margin-top: 1rem;">{% trans "Gerät" %}</h5>
            <select class="form-select" id="select-device" aria-label="Default select example" onchange="updateValues()">
                <option value="all" selected>{% trans "Alle Geräte" %}</option>
            </select>
        </div>
    </div>
    <div id="map">
    </div>
</div>
{% endblock map %}

{% block content %}
    <div class="mt-3">
        <h2>{{ workshop.title }}</h2>
        <p>{{ workshop.description }}</p>
        <p>Von {{ workshop.start_date }} bis {{ workshop.end_date }}</p>
        <p>Code: {{ workshop.name }}</p>
    </div>
    <script>
        const colorSteps = [
            [0, [115, 0.8, 0.8]],
            [5, [115, 0.8, 0.8]],
            [15, [60, 0.87, 0.95]],
            [25, [0, 0.87, 0.8]],
            [60, [0, 0.87, 0.4]],
        ];
    
        function interpolate(a, b, fraction) {
            return [a[0] + (b[0] - a[0]) * fraction, a[1] + (b[1] - a[1]) * fraction, a[2] + (b[2] - a[2]) * fraction];
        }
    
        function getColorForPM25(value) {
            if(isNaN(value) || value == null) return [0, 0, 0.7]; // grey
            for (let i = 0; i < colorSteps.length - 1; i++) {
                if (value >= colorSteps[i][0] && value < colorSteps[i + 1][0]) {
                    const fraction = (value - colorSteps[i][0]) / (colorSteps[i + 1][0] - colorSteps[i][0]);
                    return interpolate(colorSteps[i][1], colorSteps[i + 1][1], fraction);
                }
            }
            return colorSteps[colorSteps.length - 1][1];
        }
    
        let hsv2hsl = (h, s, v, l = v - v * s / 2, m = Math.min(l, 1 - l)) => [h, m ? (v - l) / m : 0, l];
    
        function updateValues() {
            var value = document.getElementById("select-value").value;
            var device = document.getElementById("select-device").value;
            if(device == "all") device = null;
            addMarkerLayer(value, device);

            // Update legend
            var legend = document.getElementById("legend");
            legend.innerHTML = "";
            colorRanges[value].forEach(function (range) {
                legend.innerHTML +=
                    '<div class="legend-item">' +
                    '<i style="background:' + range.color + '"></i> ' +
                    range.label +
                    '</div>';
            });
        }
    
        const map = L.map('map', {fadeAnimation: false, rotate: true }).setView([48.2112, 16.3736], 13);
    
        const tiles = L.tileLayer.grayscale('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '<a href="https://luftdaten.at">CC BY 2024 Luftdaten.at</a> | &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    
        var points;
    
        async function fetchMarkerData() {
            const response = await fetch("/api/workshop/data/{{ workshop.name }}/");
    
            points = [];
    
            // Parse response JSON
            const text = await response.text();
            const json = JSON.parse(text);;
            for (let item in json) {
                points.push(json[item]);
            }
        }
    
        fetchMarkerData().then(() => {
            addMarkerLayer("pm25");
            const devices = new Set();
            for(let i = 0; i < points.length; i++) {
                devices.add(points[i].device);
            }
            const select = document.getElementById("select-device");
            for (let device of devices) {
                var option = document.createElement("option");
                option.text = device;
                option.value = device;
                select.add(option);
            }
        });
    
        function getMean(arr) {
            var acc = 0;
            var count = 0;
            for(let i = 0; i < arr.length; i++) {
                if(isNaN(arr[i])) continue;
                acc += Number(arr[i]);
                count++;
            }
            if(count == 0) return NaN;
            return acc / count;
        }
    
        var markerLayer;
    
        async function addMarkerLayer(value, device = null) {

            // Log that this function was called
            console.log("addMarkerLayer called with value: " + value + " and device: " + device);
    
            if (markerLayer != null) {
                map.removeLayer(markerLayer);
            }
    
            // Marker layer
            markerLayer = L.layerGroup({
                iconCreateFunction: function (cluster) {
                    const meanPM = getMean(cluster.getAllChildMarkers().map(marker => marker.pm));
                    const colorArrayHSV = getColorForPM25(meanPM); // TODO use different boundaries for different PM
                    const colorArrayHSL = hsv2hsl(colorArrayHSV[0], colorArrayHSV[1], colorArrayHSV[2]);
                    const colorString = `hsl(${colorArrayHSL[0]}, ${colorArrayHSL[1] * 100}%, ${colorArrayHSL[2] * 100}%)`;
                    const textColor = colorArrayHSL[2] > 0.45 ? "black" : "white";
                    return L.divIcon({iconSize: [6, 6], className: '', html: '<div class="clickable" style="height: 0.5em; width: 0.5em; background-color: ' + colorString + '; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 10pt; border-style: solid; border-color: white;"></div>'});
                },
                showCoverageOnHover: false,
            });
    
            const markerList = [];
    
            // Add markers for each point
            for (let i in points) {
                const point = points[i];
                if(device != null && point.device != device) continue;
                const pm = point[value];
                const colorArrayHSV = getColorForPM25(pm);
                const colorArrayHSL = hsv2hsl(colorArrayHSV[0], colorArrayHSV[1], colorArrayHSV[2]);
                var colorString = `hsl(${colorArrayHSL[0]}, ${colorArrayHSL[1] * 100}%, ${colorArrayHSL[2] * 100}%)`;
                const textColor = colorArrayHSL[2] > 0.45 ? "black" : "white";

                // Temp: just set colorString to be the hex color defined in the colorRanges
                colorString = colorRanges[value].find(range => pm >= range.range[0] && pm < range.range[1]).color;

                var marker = L.marker([point.lat, point.lon], {icon: L.divIcon({iconSize: [6, 6], className: '', html: '<a class="hiddenlink clickable"><div style="height: 0.5em; width: 0.5em; background-color: ' + colorString + '; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 10pt;"></div></a>'})});
                marker.pm = pm; // Add a custom attribute to marker
                var unit;
                if(value == "pm1") unit = " µg/m³";
                else if(value == "pm25") unit = " µg/m³";
                else if(value == "pm10") unit = " µg/m³";
                else if(value == "temperature") unit = "°C";
                else if(value == "humidity") unit = "%";
                marker.bindPopup("Gemessen: " + pm + unit); // Bind a popup to the marker
                markerList.push(marker);
            }
    
            for (let i = 0; i < markerList.length; i++) {
                markerLayer.addLayer(markerList[i]);
            }
            
            map.addLayer(markerLayer);
        };
    
        function requestStationData(uid) {
            loadDataForStation(uid);
            return true;
        }
    
        // Chart logic
        async function loadDataForStation(uid) {
            // Fetch data for point
            //const response = await fetch("/data/demostationweekly.csv");
            const currentDate = new Date();
            const ts = new Date(currentDate.getTime() - 7 * 24 * 60 * 60 * 1000);
            // Convert date to string of format yyyy-mm-dd hh:mm:ss.000
            const dateString = ts.toISOString();
            const response = await fetch(`https://api.luftdaten.at/v1/point/history/?station_ids=${uid}&smooth=100&start=${dateString}`);
    
            // Parse response CSV
            const text = await response.text();
            const items = text.split(" ");
            var pm1Values = [];
            var pm25Values = [];
            var pm10Values = [];
            var timestamps = [];
            for (let row in items) {
                if (items[row].length == 0) continue;
                var data = items[row].split(";");
                // Careful: check for presence of pm1
                const [secsSinceEpoch, pm1, pm25, pm10] = data;
                pm1Values.push(pm1);
                pm25Values.push(pm25);
                pm10Values.push(pm10);
                timestamps.push(new Date(secsSinceEpoch * 1000).toISOString());
            }
    
            TESTER = document.getElementById('infobox');
            Plotly.newPlot(TESTER, [{
                x: timestamps,
                y: pm1Values,
                type: 'line',
                name: 'PM1',
                hovertemplate: '%{x}: %{y:.2f} µg/m³',
            },
            {
                x: timestamps,
                y: pm25Values,
                type: 'line',
                name: 'PM2.5',
                hovertemplate: '%{x}: %{y:.2f} µg/m³',
            },
            {
                x: timestamps,
                y: pm10Values,
                type: 'line',
                name: 'PM10',
                hovertemplate: '%{x}: %{y:.2f} µg/m³',
            }], {
                margin: {t: 0},
                height: 500,
                yaxis: {
                    title: {
                        text: '{% trans "Konzenration (µg/m³)" %}',
                    },
                    fixedrange: true,
                },
                title: {
                    text: 'Station 12345 - Feinstaub der letzten Woche',
                    automargin: true,
                },
                xaxis: {fixedrange: true},
                shapes: [
                    {
                        type: 'line',
                        xref: 'paper',
                        x0: 0,
                        y0: 5,
                        x1: 1,
                        y1: 5,
                        line: {
                            color: 'rgb(0, 0, 0)',
                            width: 1,
                            dash: 'dot'
                        },
                        layer: 'below',
                    },
                    {
                        type: 'line',
                        xref: 'paper',
                        x0: 0,
                        y0: 15,
                        x1: 1,
                        y1: 15,
                        line: {
                            color: 'rgb(0, 0, 0)',
                            width: 1,
                            dash: 'dot'
                        },
                        layer: 'below',
                    },
                    {
                        type: 'line',
                        xref: 'paper',
                        x0: 0,
                        y0: 45,
                        x1: 1,
                        y1: 45,
                        line: {
                            color: 'rgb(0, 0, 0)',
                            width: 1,
                            dash: 'dot'
                        },
                        layer: 'below',
                    },
                ],
            });
        }
    
        const colorRanges = {'pm1': [
            { label: '{% trans "Gut (<5 µg/m³)" %}', color: '#36cc29', range: [0, 5] },
            { label: '{% trans "Befriedigend (5-15 µg/m³)" %}', color: '#f2f21f', range: [5, 15] },
            // Add more color ranges as needed
            { label: '{% trans "Schlecht (15-25 µg/m³)" %}', color: '#cc1b1b', range: [15, 25] },
            { label: '{% trans "Sehr schlecht (>25 µg/m³)" %}', color: '#660d0d', range: [25, 100000] },
        ],
        'pm25': [
            { label: '{% trans "Gut (<5 µg/m³)" %}', color: '#36cc29', range: [0, 5] },
            { label: '{% trans "Befriedigend (5-15 µg/m³)" %}', color: '#f2f21f', range: [5, 15] },
            // Add more color ranges as needed
            { label: '{% trans "Schlecht (15-25 µg/m³)" %}', color: '#cc1b1b', range: [15, 25] },
            { label: '{% trans "Sehr schlecht (>25 µg/m³)" %}', color: '#660d0d', range: [25, 100000] },
        ],
        'pm10': [
            { label: '{% trans "Gut (<15 µg/m³)" %}', color: '#36cc29', range: [0, 15] },
            { label: '{% trans "Befriedigend (15-45 µg/m³)" %}', color: '#f2f21f', range: [15, 45] },
            // Add more color ranges as needed
            { label: '{% trans "Schlecht (45-60 µg/m³)" %}', color: '#cc1b1b', range: [45, 60] },
            { label: '{% trans "Sehr schlecht (>60 µg/m³)" %}', color: '#660d0d', range: [60, 100000] },
        ],
        'temperature': [
            // Color scale from cold (blue) to hot (red)
            { label: '{% trans "Kalt (<0°C)" %}', color: '#0000ff', range: [-100, 0] },
            { label: '{% trans "Kühl (0-10°C)" %}', color: '#00ffff', range: [0, 10] },
            { label: '{% trans "Mild (10-20°C)" %}', color: '#00ff00', range: [10, 20] },
            { label: '{% trans "Warm (20-30°C)" %}', color: '#ffff00', range: [20, 30] },
            { label: '{% trans "Heiß (>30°C)" %}', color: '#ff0000', range: [30, 400] },
        ],
        'humidity': [
            // Color scale from very light blue (<30%) to very dark blue (>60%)
            { label: '{% trans "Trocken (<30%)" %}', color: '#bffffb', range: [0, 30] },
            { label: '{% trans "Mittel (30-70%)" %}', color: '#45a5ff', range: [40, 60] },
            { label: '{% trans "Feucht (>70%)" %}', color: '#0018ed', range: [70, 100] },
        ],
    };

        //const colorRanges = [
        //{ label: 'Excellent (0-5)', color: '#008000', range: [0, 5] },
        //{ label: 'Good (6-10)', color: '#9ACD32', range: [6, 10] },
        // Add more color ranges as needed
        //{ label: 'Unhealthy (51-100)', color: '#FF4500', range: [51, 100] },
        //{ label: 'Very Unhealthy (101-150)', color: '#8B0000', range: [101, 150] },
    
        const legend = L.control({ position: 'bottomright' });

        legend.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'info legend leaflet-center');
            div.id = 'legend';
            colorRanges['pm25'].forEach(function (range) {
                div.innerHTML +=
                    '<div class="legend-item">' +
                    '<i style="background:' + range.color + '"></i> ' +
                    range.label +
                    '</div>';
            });
            return div;
        };
        
        legend.addTo(map);

        // Add a class to the outermost div
        legend._container.className += ' leaflet-center';

        // Check if coordinates are specified for workshop and set view accordingly
        if({{ workshop.mapbox_top_left_lat }} != null) {
            // Rotate map to make the bottom left to bottom right line horizontal
            var bottomLonDistance = {{ workshop.mapbox_bottom_right_lon }} - {{ workshop.mapbox_bottom_left_lon }};
            var bottomLatDistance = {{ workshop.mapbox_bottom_right_lat }} - {{ workshop.mapbox_bottom_left_lat }};
            // Scale longitude distance by cos(lat)
            var bottomLonDistanceScaled = bottomLonDistance * Math.cos({{ workshop.mapbox_bottom_left_lat }} * Math.PI / 180);
            var angle = Math.atan2(bottomLatDistance, bottomLonDistanceScaled) * 180 / Math.PI;
            // Log the angle for debugging
            console.log("Angle: " + angle);
            // Set bearing
            map.setBearing(angle);
            // Set bounds
            const bounds = [
                [{{ workshop.mapbox_top_left_lat }}, {{ workshop.mapbox_top_left_lon }}],
                [{{ workshop.mapbox_bottom_right_lat }}, {{ workshop.mapbox_bottom_right_lon }}]
            ];
            map.fitBounds(bounds);
        }
    </script>

{% endblock content %}