{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Add Users to Campaign{% endblock title %}

{% block content %}
<div class="container mt-3">
    <h2>Add Users to Campaign: {{ object.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Add Selected Users</button>
        <a href="{% url 'campaigns-detail' object.pk %}" class="btn btn-secondary mt-3">Cancel</a>
    </form>
</div>
{% endblock content %}
