{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ campaign.name }}{% endblock title %}

{% block content %}
<div class="container mt-3">
    <!-- Campaign Details -->
    <h2>{{ campaign.name }}</h2>
    <p>{{ campaign.description }}</p>
    <p><strong>{{ campaign.organization.name }}</strong></p>
    <p><strong>{{ campaign.start_date|date:"d.m.Y H:i" }} bis {{ campaign.end_date|date:"d.m.Y H:i" }}</strong></p>

    <hr>

    <!-- Rooms List -->
    <h3>Rooms</h3>
    <ul class="list-group">
        {% for room in campaign.rooms.all %}
            <li class="list-group-item">
                <a href="{% url 'room-detail' room.pk %}" class="text-decoration-none">{{ room.name }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">Keine Räume für diese Kampagne verfügbar.</li>
        {% endfor %}
    </ul>

    <hr>

    <!-- Users List -->
    <h3>Teilnehmer der Kampagne</h3>
    <ul class="list-group">
        {% for user in campaign.users.all %}
            <li class="list-group-item">{{ user.username }}</li>
        {% empty %}
            <li class="list-group-item">Es sind noch keine Teilnehmer in dieser Kampagne.</li>
        {% endfor %}
    </ul>

    <hr>

    <!-- Add New User Button -->
    <div class="d-flex justify-content-end">
        <a href="{% url 'add-user-to-campaign' campaign.pk %}" class="btn btn-outline-primary">
            <i class="bi bi-person-plus"></i> Teilnehmer hinzufügen
        </a>
    </div>

    <br>
    <a href="{% url 'campaigns-my' %}" class="btn btn-primary">Back to my Campaigns</a>
</div>
{% endblock content %}
