{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ campaign.name }}{% endblock title %}

{% block content %}
<div class="container mt-3">
    <!-- Campaign Details -->
    <h2>{{ campaign.name }}</h2>
    <p>{{ campaign.description }}</p>
    <p><strong>{{ campaign.organization.name }}</strong></p>
    <p><strong>{{ campaign.start_date|date:"d.m.Y H:i" }} bis {{ campaign.end_date|date:"d.m.Y H:i" }}</strong></p>

    <hr>

    <!-- Rooms List -->
    <h3>Rooms</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Room name" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for room in campaign.rooms.all %}
            <tr>
                <td>{{ room.name }}</a></td>
                <td>
                    <a href="{% url 'room-detail' room.pk %}" class="btn btn-info btn-sm">{% trans "Details" %}</a>
                    <a href="{% url 'room-delete' room.pk %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% empty %}
                
                <tr><td colspan="5">Keine Räume für diese Kampagne verfügbar.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'room-create' campaign.pk %}", class="btn btn-outline-primary">Create Room</a>

    <hr>

    <!-- Users List -->
    <h3>Teilnehmer der Kampagne</h3>
    <ul class="list-group">
        {% for user in campaign.users.all %}
            <li class="list-group-item">{{ user.username }}</li>
        {% empty %}
            <li class="list-group-item">Es sind noch keine Teilnehmer in dieser Kampagne.</li>
        {% endfor %}
    </ul>

    <hr>

    <!-- Add New User Button -->
    <a href="{% url 'campaign-add-user' campaign.pk %}" class="btn btn-outline-primary">Teilnehmer hinzufügen</a>
    <br><br>
    <a href="{% url 'campaigns-my' %}" class="btn btn-primary">Back to my Campaigns</a>
</div>
{% endblock content %}
