{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load filters %}

{% block title %}{{ campaign.name }}{% endblock title %}

{% block styles %}
<style>
.badge-custom-green {
    background-color: #28a745;
    color: #fff;
}
</style>
{% endblock styles %}

{% block content %}
<div class="container mt-5">
    <h2>{{ campaign.name }}</h2>
    <p>{{ campaign.description }}</p>
    <p><strong>{{ campaign.organization.name }}</strong></p>
    <p><strong>{{ campaign.start_date|date:"d.m.Y H:i" }} – {{ campaign.end_date|date:"d.m.Y H:i" }}</strong></p>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="mb-0">{% trans "Rooms" %}</h3>
          <a href="{% url 'room-create' campaign.pk %}" class="btn btn-outline-primary btn-sm">{% trans "Create Room" %}</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                    <th>{% trans "Room name" %}</th>
                    <th>{% trans "Current measurements" %}</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
            {% for room in campaign.rooms.all %}
                <tr>
                    <td><a href="{% url 'room-detail' room.pk %}">{{ room.name }}</a></td>
                    <td>
                        <span style="color: black; background-color: rgb({{ room_current_values|get:room.pk|at:1|to_rgb }})" class="badge badge-custom-green">Temp {{ room_current_values|get:room.pk|at:0 }}°C</span>
                        <span style="color: black; background-color: rgb({{ room_current_values|get:room.pk|at:3|to_rgb }})" class="badge badge-custom-green">PM2.5 {{ room_current_values|get:room.pk|at:2 }}µg/m³</span>
                        <span style="color: black; background-color: rgb({{ room_current_values|get:room.pk|at:5|to_rgb }})" class="badge badge-custom-green">CO₂ {{ room_current_values|get:room.pk|at:4 }}ppm</span>
                        <span style="color: black; background-color: rgb({{ room_current_values|get:room.pk|at:7|to_rgb }})" class="badge badge-custom-green">TVOC {{ room_current_values|get:room.pk|at:6 }}ppb</span>
                    </td>
                    <td>
                      <div class="d-flex flex-column flex-md-row gap-2 justify-content-end">
                        <a href="{% url 'room-detail' room.pk %}" class="btn btn-primary btn-sm">
                            <i class="bi bi-eye"></i>
                            <span class="d-none d-sm-inline">{% trans "Details" %}</span>
                        </a>
                        <a href="{% url 'room-update' campaign.pk room.pk %}" class="btn btn-secondary btn-sm">
                            <i class="bi bi-pencil-square"></i>
                            <span class="d-none d-sm-inline">{% trans "Edit" %}</span>
                        </a>
                        <a href="{% url 'room-delete' room.pk %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                            <span class="d-none d-sm-inline">{% trans "Delete" %}</span>
                        </a>
                    </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Keine Räume für diese Kampagne verfügbar.</td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="mb-0">{% trans "Participants" %}</h3>
          <a href="{% url 'campaign-add-user' campaign.pk %}" class="btn btn-outline-primary btn-sm">{% trans "Add Participant" %}</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
            {% for user in campaign.users.all %}
                <tr>
                    <td><a href="{% url 'participants-detail' campaign.pk user.pk %}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>
                      <div class="text-end d-flex flex-column flex-md-row gap-2 justify-content-end">
                        <a href="{% url 'participants-detail' campaign.pk user.pk %}" class="btn btn-primary btn-sm">
                            <i class="bi bi-eye"></i>
                            <span class="d-none d-sm-inline">{% trans "Details" %}</span>
                        </a>
                        {% if user != campaign.owner %}
                            <form method="post" action="{% url 'campaign-remove-user' campaign.pk user.pk %}" style="display: inline;" onsubmit="return confirm('{% trans 'Are you sure you want to remove this user from the campaign?' %}')">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="bi bi-x-octagon"></i>
                                    <span class="d-none d-sm-inline">{% trans "Remove" %}</span>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">{% trans "There are no participants in this campaign yet." %}</td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <a href="{% url 'campaigns-my' %}" class="btn btn-outline-secondary">Back to my Campaigns</a>
</div>
{% endblock content %}
