{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "My Organizations" %}{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{% trans "My organisations" %}</h2>
    {% if member_organizations %}
    <div class="list-group">
        {% for organization in member_organizations %}
            <div class="list-group-item list-group-item-action d-flex flex-column flex-md-row justify-content-between align-items-start">
                <div class="mb-2 mb-md-0">
                    <h5 class="mb-1">{{ organization.name }}</h5>
                    <p class="mb-1">
                        {{ organization.description|truncatewords:20 }}
                    </p>
                </div>
                <div class="d-flex flex-column flex-md-row">
                    <a href="{% url 'organization-detail' organization.pk %}" class="btn btn-info btn-sm me-md-1 mb-1 mb-md-0">{% trans "Details" %}</a>
                    <a href="" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        {% trans "You are not a member of any organizations." %}
    </div>
    {% endif %}
    <a href="{% url 'organization-create' %}" class="btn btn-primary mt-3">{%trans "Create Organization" %}</a>
</div>
{% endblock content %}


