{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Municipality" %}: {{ municipality.name }}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" crossorigin="">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" crossorigin="">
<script src="{% static 'js/leaflet.js' %}" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{% static 'js/chart.umd.js' %}" crossorigin=""></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
{% endblock styles %}

{% block content %}
<div class="row">
  <div class="container-fluid">
    <div class="position-absolute top-0 end-0 card map-overlay-panel" style="width: 20rem; z-index: 1000; margin-top: 4.5rem; margin-right: 1rem;">
      <div class="card-body">
        <div class="d-flex align-items-center gap-2">
          <select class="form-select flex-grow-1" id="pm-select" aria-label="{% trans 'Particulate matter type' %}">
            <option value="1">{% trans "Air quality" %} {% trans "Particulate Matter" %} PM1</option>
            <option value="25" selected>{% trans "Air quality" %} {% trans "Particulate Matter" %} PM2.5</option>
            <option value="10">{% trans "Air quality" %} {% trans "Particulate Matter" %} PM10</option>
          </select>
          <button type="button" class="btn btn-outline-secondary btn-sm map-legend-toggle d-md-none"
            data-bs-toggle="collapse" data-bs-target="#legendCollapse"
            aria-expanded="false" aria-controls="legendCollapse"
            aria-label="{% trans 'Toggle legend' %}">
            <i class="bi bi-chevron-down map-legend-toggle-icon" aria-hidden="true"></i>
          </button>
        </div>
        <div id="legendCollapse" class="collapse d-md-block map-legend-collapse mt-2">
          <div id="legend" style="margin-top: 1rem;"></div>
          <span style="font-size: 0.8rem;">
            <a href="https://luftdaten.at/datahub-methodik/">{% trans "Method: European Air Quality Index" %}</a>
          </span>
        </div>
      </div>
    </div>
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
</div>

<div class="row">
  {% include "municipalities/partials/_header.html" %}
</div>

<ul class="nav nav-tabs mt-2" id="municipalityTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab-current-btn" data-bs-toggle="tab"
      data-bs-target="#tab-current" type="button" role="tab"
      aria-controls="tab-current" aria-selected="true">
      {% trans "Current" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-environment-btn" data-bs-toggle="tab"
      data-bs-target="#tab-environment" type="button" role="tab"
      aria-controls="tab-environment" aria-selected="false">
      {% trans "Environment" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-heat-btn" data-bs-toggle="tab"
      data-bs-target="#tab-heat" type="button" role="tab"
      aria-controls="tab-heat" aria-selected="false">
      {% trans "Heat" %}
    </button>
  </li>
</ul>

<div class="tab-content py-3" id="municipalityTabContent">
  <div class="tab-pane fade show active" id="tab-current" role="tabpanel"
    aria-labelledby="tab-current-btn" tabindex="0">
    {% include "municipalities/partials/_tab_current.html" %}
  </div>
  <div class="tab-pane fade" id="tab-environment" role="tabpanel"
    aria-labelledby="tab-environment-btn" tabindex="0">
    {% include "municipalities/partials/_tab_environment.html" %}
  </div>
  <div class="tab-pane fade" id="tab-heat" role="tabpanel"
    aria-labelledby="tab-heat-btn" tabindex="0">
    {% include "municipalities/partials/_tab_heat.html" %}
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
{% include "_eaqi_pm_color_steps.html" %}
</script>
{{ map_config|json_script:"municipality-map-config" }}
<script src="{% static 'js/municipality-detail.js' %}"></script>
{% endblock extra_js %}
