{% extends "_base.html" %}
{% load i18n %}

{% block title %}{{ room.name }}{% endblock title %}

{% block content %}
<div class="container mt-3">
    <!-- Temperature Display with Background Color -->
    <div style="background-color: rgb({{ temperature_color.0 }}, {{ temperature_color.1 }}, {{ temperature_color.2 }}); color: black; padding: 10px; text-align: center; border-radius: 5px; margin-bottom: 20px;">
        <strong>{% trans "Current Temperature:" %} </strong>{{ current_temperature }}&deg;C
    </div>

    <!-- Room and Campaign Information -->
    <h2>Room: {{ room.name }}</h2>
    <p><strong>Campaign:</strong> {{ room.campaign.name }}</p>

    <h3>{% trans "Devices" %}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Device ID" %}</th>
                <th>{% trans "Device Name" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in room.current_devices.all %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.device_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">{% trans "No Device found" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'room-add-device' room.pk %}" class="btn btn-outline-primary">{% trans "Add Device" %}</a>
    <hr>
    <a href="{% url 'campaigns-detail' room.campaign.pk %}" class="btn btn-primary">Back to Campaign</a>
</div>
{% endblock %}
