{% load i18n %}
const colorStepsPM25 = [
    [0,    [80, 240, 230],  "{% trans 'Good' %}"],
    [6,    [80, 204, 170],  "{% trans 'Fair' %}"],
    [16,   [240, 230, 65],  "{% trans 'Moderate' %}"],
    [51,   [255, 80, 80],   "{% trans 'Poor' %}"],
    [91,   [150, 0, 50],    "{% trans 'Very poor' %}"],
    [141,  [125, 33, 129],  "{% trans 'Extremely poor' %}"]
];
const colorStepsPM1 = colorStepsPM25;
const colorStepsPM10 = [
    [0,    [80, 240, 230],  "{% trans 'Good' %}"],
    [16,   [80, 204, 170],  "{% trans 'Fair' %}"],
    [46,   [240, 230, 65],  "{% trans 'Moderate' %}"],
    [121,  [255, 80, 80],   "{% trans 'Poor' %}"],
    [196,  [150, 0, 50],    "{% trans 'Very poor' %}"],
    [271,  [125, 33, 129],  "{% trans 'Extremely poor' %}"]
];
