{% extends "_base.html" %}
{% load static %}

{% block title %}Saubere Luft am Arbeitsplatz{% endblock title %}

{% block styles %}
{% endblock styles %}


{% block map %}
{% endblock map %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Saubere Luft am Arbeitsplatz</h2>
            <p>Unsichtbare Moleküle in der Luft wie Feinstaub, Ozon oder volatile organische Chemikalien (VOC) können langfristig eine starke Belastung für die Gesundheit von Arbeitnehmerinnen darstellen. Doch leider wird dieses Thema häufig ignoriert und vielen Arbeitnehmerinnen ist gar nicht bewusst welchen Risiken sie ausgesetzt sind. Um dieses Problemfeld begreif- und messbar zu machen wollen wir gemeinsam mit den Arbeitnehmer*innen zwei Gadgets entwickeln, die Feinstaub, Ozon, CO2, volatile Chemikalien und Temperatur/Luftfeuchtigkeit messen. Einerseits einen Cube für Office-Arbeitsplätze und einmal ein Wearable, dass in die Arbeitskleidung integriert werden kann. Diese messen jeweils die Luftbelastung und informieren direkt wenn Grenzwerte überschritten werden. Gleichzeitig werden die Messdaten aufgezeichnet um sie später wissenschaftlich auszuwerten und – je nach Datenschutzbedürfnis – dem Betriebsrat, der Gewerkschaft oder der Allgemeinheit zur Verfügung zu stellen.</p>
            <p><a href="https://survey.luftdaten.at/index.php/482487?lang=de-informal" class="btn btn-primary">Interesse für Messkampagnen</a></p>
            <p>Gefördert aus Mitteln des Digitalisierungsfonds Arbeit 4.0 der AK Wien.</p>
        </div>
    </div>


{% endblock content %}